@charset "utf-8";

/* INFORMATION 

*/

/* Custom CSS */
@import url('table.css');
@import url('margin-padding.css');


/*  HOME  */

.home-img {
	width: 880px;
	height: 620px;
	margin-top: 0;
	background-image: url(../img/img-home.jpg);
	background-repeat: no-repeat;
}

.home-spon-1 {
	padding: 580px 0 0;
	vertical-align: middle;
}

.home-spon-1 img {
	margin: 0; padding: 0;
}


.home-title {
	margin: 30px 10px 20px 60px;
	font-size:16px;
	font-weight:300;
	text-align:left;
}

.home-title2 {
	margin: 15px 10px 20px 60px;
	font-size:22px;
	color:#1b75bb;
	font-weight:bold;
	text-align:left;
}



.home-txt {
	padding:0 10px;
	word-break:keep-all;
}

.home-txt2 {
	color:#1b75bb;
	font-size:16px;
	font-weight:500; 
	padding-bottom: 5px;
}

.home-txt > p {
	color:#333;
	padding-top:10px;
}

.home-txt ol {
	margin: 10px 40px ;
}

.home-txt li {
	list-style-type: decimal;
}

.home-txt ul li {
	margin-left:15px;
	list-style-type: disc;
	padding-top:5px;
}

.home-spon {
	height:auto;
}

.home-spon img {
	vertical-align: middle;
}

.label-primary {
	padding-top:5px;
}

/** page style **/
.css-content {
	width:980px;
	height: 100%;
	margin: 0 50px;
}

.section {
	width:880px; 
}

.section-sub {
	padding-left: 20px; border-bottom:1px dotted #666; 
}	

.title-page {
	width:auto;
	height:60px;
	border-bottom:1px dotted #666;
	margin-top: 40px;
	padding-left: 10px;
}

.sub-menu {
	height:50px;
	border-bottom:1px dotted #666;
	margin-bottom:20px;
	padding:12px 0 0 ; 
	font-size: 16px;
}

.sub-menu:after,.sub-menu > ul:after {
	clear: both;
}

.sub-menu li {
	float: left;
	border: 1px solid transparent;
	margin-left: 20px;
}

.sub-menu2 li {
	float: left;
	border: 1px solid transparent;
	margin-left:25px;
}

.sub-menu li a {
	text-decoration: none;
}

.sub-menu ul li.active a,
.sub-menu ul li a:hover {
	display: block;
	color: #d82628;
}

.session-menu {
	margin-bottom:20px;
	padding:6px 30px;
	word-break: keep-all;
	line-height:180%;
}

.session-menu > a {
	color:#999;
}

.session-menu > a:hover {
	color:#d82628;
}

.section-description {
	width:auto;
	border-bottom:1px dotted #666;
	padding:10px 30px 10px ;
	color:#888;
}

.session-menu2 {
	height:45px;
	padding:6px 0px;
}

.session-menu3 {
	height:45px;
	margin-left:7px;
	padding:6px 16px;
}

.dropdown-1 {
	float:left;
	margin-right:22px;
}

.dropdown-2 {
	float:left;
	margin-right:25px;
}

.dropdown-3 {
	float:left;
	margin-left:10px;
}

.btn-session {
	padding:6px 15px;
}

.btn-group-justified a { color:#fff; border: thin #fff; }

.section-box {
	width:auto;
	height: auto;
	margin:0 0 15px; 
	padding: 20px 30px 30px;

	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px; 
	
	background-color: #F2f2f2;
}

.section-box2 {
	width:auto;
	height: auto;
	margin:0 0 15px; 
	padding: 10px 20px 10px;

	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px; 
	
	background-color: #F2f2f2;
}

/* Message */

.section-message {
	width:auto;
	height: auto;
	margin:0 0 10px; 
	padding: 20px 30px 30px;
	
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px; 
	
	background-color: #F2f2f2;
	/* background-image: url(../img/img-bg.png); */
	background-position: bottom left;
	background-repeat: no-repeat;
}
.message-pict {
	border: 3px solid #FFF;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px; 
} 

.message-txt p {text-align: justify; }

/* infomation */

.info ul { list-style-position: outside; list-style-type: disc; margin-left: 40px; }

.info ol li { list-style-type: decimal;}

.info li { list-style-position: outside; list-style-type: disc;  }

.info2 li {  list-style-type: none; }

.info3 ul li { list-style-position: outside; list-style-type: square; margin-left: 40px; }

.info3 ol li { list-style-position: outside; list-style-type: none;}

.info4 li { list-style-type: disc; }

.section-info {
	width:auto;
	height: auto;
	margin:0 0 15px; 
	padding: 20px 30px 30px;
	
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px; 
	
	background-color: #f1f3fc;
	/*background-image: url(../img/img-bg.png);
	background-position: bottom left;
	background-repeat: no-repeat;*/
}

.section-key {
	width:auto;
	height: auto;
	margin:0 0 15px; 
	padding: 20px 30px;
	
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px; 
	
	background-color: #f1f3fc;
}

/* search */

.title-search {
	width: 260px;
	/*float:left;*/
}

.search {
	/*float: right;*/
	width:auto;
	vertical-align:middle;
}

.search-msg {
	height:auto;
	/*border-top:1px dotted #666;*/
	border-bottom:1px dotted #666;
	margin-top: 15px;
	margin-bottom:60px;
	padding:30px 0 50px;
	text-align:center;
	vertical-align:middle;
	font-size:16px;
	line-height:1.6;
}

.result-msg {
	height:auto;
	border-bottom:1px dotted #666;
	/*margin-top: -20px;*/
	margin-bottom:40px;
	padding:20px 0;
	text-align:center;
	vertical-align:middle;
	background-color:#f3f3f3;
}

.blue { font-weight:bold; color:blue; font-size:18px; }
.red { font-weight:bold; color:red; font-size:18px; }

.txt-red { color: #d82628; }

.title-result {
	font-size:18px;
	text-align:left;
	font-weight:bold;
	color:#1b75bb;
}

/* SITE MAP */

.sitemap:after,
.sitemap > ul:after {
	clear: both;
}
/*
.sitemap li {
	border: 1px solid transparent;
}
*/

.sitemap2 li {
	float:none;
	border: 1px solid transparent;
	margin-top:2px;
	font-size:104%;
	font-weight:normal;
}

.sitemap2 li a:hover {
	font-weight:normal;
}

.sitemap li a {
	text-decoration: none;
}

.sitemap ul li a:hover {
	display: block;
	color: #d82628;
}

.map-txt, .map-txt a {
	color:#445f7c;
}

.author-head {
	margin:5px 5px 0 5px;
}

.author-body {
	margin:0 5px;
}

.author-body2 {
	margin:0 5px 5px;
}

/* page navigation */
.page-nav {
	width: 100%;
	height: 30px;
	vertical-align: middle;
	text-align:right;
	margin: 0 10px 30px;
	padding-right:10px;
	font-size: 90%;
}

.page-nav a,
.page-nav a:hover { text-decoration:none;}

.page-nav img { margin-bottom:1px; margin-right:3px;}

/* content frame */

.content-home {
	float: left;
	width: 740px;
	height:	580px;
}

.content-noscroll {
	float: left;
	width: 740px;
	height:	560px;
	padding: 15px 15px 5px 25px; 
}

.content-scroll {
	float:left;
	width:740px;
	height: 560px;
	overflow-y: scroll; 
	padding: 15px 15px 5px 25px; 
}

.content-scroll-search {
	float:left;
	width: 740px;
	height: 458px;
	overflow-y: scroll; 
	padding: 15px 15px 5px 25px; 
}

