@charset "utf-8";

/* INFORMATION 

logo color 	#236bab
red					#d82628  
blue				#0b63a8		#319cd0
green				#6dbb4d		#139570
hover 			#d82628

active blue		#26a9e0 
menu hover 		#1b75bb
*/

/* talbe width */
.width-100p {width: 100%;} 
.width--98p	{width: 98%;} 
.width--90p	{width: 90%;} 

.width--700 {width: 700px;}
.width--680 {width: 680px;}
.width--670 {width: 670px;}
.width--660 {width: 660px;}
.width--655 {width: 655px;}
.width--650 {width: 650px;}
.width--645 {width: 645px;}
.width--640 {width: 640px;}

/* talbe committees */

.tb-committee {
	width: 100%;
	background-color: #ffffff;
	border-top: 1px solid #1b75bb;
	border-bottom: 1px solid #1b75bb;
}

.tb-committee td {
	vertical-align: top;
	padding:8px 10px;
}

.tb-committee2 {
	width: 100%;
	background-color: #ffffff;
	border-top: 1px solid #1b75bb;
	border-bottom: 1px solid #1b75bb;
}

.tb-committee2 td {
	vertical-align: top;
	padding:3px 15px;
	border-top: 1px dotted #1b75bb;
}


.tb-committee3 {
	width: 100%;
	background-color: #ffffff;
	border-bottom: 1px solid #1b75bb;
}

.tb-committee3 td {
	vertical-align: top;
	padding:3px 15px;
	border-top: 1px dotted #1b75bb;
}

.committee-position {
	width:20%;
	background-color:#f2f5ff;
	padding:10px 20px;
	color:#333;
	font-size: 16px;
	line-height: 130%;
	/*text-transform: uppercase; */
}

.committee-position2 {
	width:20%;
	background-color:#f4fcff;
	padding:20px 15px;
	
	color:#333;
	text-align:right;
	text-transform: uppercase;
}

.committee-position3 {
	width:20%;
	background-color:#f4fcff;
	padding:6px 15px;
	
	color:#333;
	font-weight:300;
	text-align:right;
	text-transform: uppercase;
}

.committee-name {
	width:14%;
	padding-left: 15px;
	color:#224099;
	font-weight:500;
	text-align: center;
}

.committee-name2 {
	padding:20px;
}

.member > li {
	list-style: disc;

}


/* Table title */ 

.title-day { 
	margin: 20px 0 5px;
	font-size:16px;
	color: #0b63a8;
	font-weight:bold;
}

.title-date {
	font-size:14px;
	font-weight: normal; 
	margin:0 5px;
}

.title-time {
	font-size:14px;
	font-weight: normal;
	color:#666;
	margin:0 5px;
}


/* talbe Session */

.session-box {
	width:auto;
	height: auto;
	margin:0 0 15px; 
	padding: 20px 30px;

	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px; 
	
	background-color: #eeeeee;
}

.tb-session {
	width:100%;
	color:#fff;
	margin:15px 0;
	
}

.tb-session th {
	/*min-height:60px; */
	vertical-align: top;
	/*height:60px;*/
	padding:10px 0 0 ;
	text-align: left;
}

.code-session {
	font-size:16px;
	text-align:left;
	vertical-align:top;
	/*padding:4px;*/
	padding: 10px 0 0 20px;
}

.topic {
	padding:2px 4px;
	font-weight:normal;
}

.title-session {
	font-size:18px;
	line-height: 160%;
	padding: 10px 10px 0;
	text-align: left;
}

.title-chair {
	font-size:16px;
	line-height: 160%;
	padding: 0 20px 10px;
	text-align: right;
}


.tb-paper {
	width:100%;
}

.tb-paper tr:hover {background-color: #faf2ff}

.th-paper {
	background-color:#f5f5f5;
	border-top:1px solid #666;
	border-bottom:1px solid #666;
	padding:6px 4px 6px 0;
	text-align:center;
	/* font-size:12px; */
}

.th-paper2 {
	background-color:#f5f5f5;
	border-top:1px solid #666;
	border-bottom:1px solid #666;
	padding:6px 4px 6px 140px;
	text-align:left;
	/* font-size:12px; */
}

.line-paper {
	border-bottom:1px solid #999;
}

.code-paper {
	width:12%;
	text-align:center;
	vertical-align:top;
	padding:10px 0 0  ;
	color:#666;
}

.paper {
	text-align:left;
	color:#0b63a8;
	padding:10px 12px 8px 6px; 
	line-height: 150%;
}

.paper a {
	color:#2455a4;
}

.paper a:hover {
	color:#8f2194;
}

.author {
	margin-right:6px;
	color:#666666;
	font-style: italic;
	/*text-transform: capitalize;*/
}

.author2 {
	margin-right:6px;
	color:#666666;
	font-style: italic;
	/*text-transform: capitalize;*/
}

.belong {
	margin:2px 0 0;
	color:#666666;
	font-style: italic;
	line-height: 160%;
	/*text-transform: capitalize;*/
}

.t-keyword {
	margin-right:5px;
	font-style:normal;
	color:#4d4d4d;
}

.keyword {
	font-style:italic;
	color:#808080;
}

.pdf-paper { text-align:center; vertical-align:middle; padding: 0 4px; width: 10%; }

.pdf-paper img { margin: 10px 0; }


/* talbe Special */

.code-special {
	width: 20%;
	font-size:16px;
	text-align:center;
	padding:20px 4px;
}

.title-special {
	font-size:18px;
}

.section-chiar {
	width:auto;
	margin:0 0 15px; 
	padding: 20px 30px;
	
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px; 
	/*
	background-color: #F2f2f2;
	background-image: url(../img/img-bg.png);
	background-position: bottom left;
	background-repeat: no-repeat;
	*/
}

.section-pict {
	width:12%;
	padding:5px 0 ;
}

.section-pict > img {
	border:3px solid #fff;
}

.section-name {
	color:#000;
	font-weight:500;
	padding:5px 20px;
	vertical-align:top;
}

.section-belong {
	color:#666;
	font-weight:normal;
	padding-top:5px;
	vertical-align:top;
	width: 9%;
}

.section-plenary {
	margin-top:20px;
	padding: 20px 30px;
	
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}

.pdf-special { text-align:center; width: 8%; padding:70px 0 0; }

.special-title {
	border-top:1px solid #ccc;
	padding:20px 10px 10px;
	font-weight:100;
	color:#28348b;
	font-size:24px;
}

.section-txt {
	color:#666;
	font-weight:normal;
	padding:20px 10px 30px;
}

.special-txt > p {
	padding:10px 10px 0;
	/*font-size: 16px;*/
	font-weight: normal;
	line-height: 180%;
}

.color-bg-keynote { background-color:#f4e8f6; }
.color-bg-plenary { background-color:#f8f9ff; }
.color-bg-partners { background-color:#FFFAFA; }

.color-bg-basic { background-color:#f2f2f2; }


/* Session Color */
.color-WH 	{ background-color:#fff; }
.color-REG 	{ background-color:#f5f5f5; }
.color-BREAK 	{ background-color:#f2f2f2; }
.color-LUNCH	{ background-color:#FFF; }
.color-FOOD	{ background-color:#b7b6e4; }

/* paper bg color */
.color-oral-01 { color:#ffffff; background-color:#1A5F98;}
.color-oral-02 { color:#ffffff; background-color:#5e795c;}
.color-oral-03 { color:#ffffff; background-color:#795927;}
.color-oral-04 { color:#ffffff; background-color:#a44875;}
.color-oral-05 { color:#ffffff; background-color:#6c7082;}
.color-oral-06 { color:#ffffff; background-color:#737824;}
.color-oral-07 { color:#ffffff; background-color:#844496;}
.color-oral-08 { color:#ffffff; background-color:#2d5a27;}
.color-oral-09 { color:#ffffff; background-color:#892A2A;}
.color-oral-10 { color:#ffffff; background-color:#3d5964;}
.color-oral-11 { color:#ffffff; background-color:#724c76;}
.color-oral-12 { color:#ffffff; background-color:#736357;}
.color-oral-13 { color:#ffffff; background-color:#69952f;}
.color-oral-14 { color:#ffffff; background-color:#a381bd;}
.color-oral-15 { color:#ffffff; background-color:#c69c6d;}
.color-oral-16 { color:#ffffff; background-color:#f47b50;}
.color-oral-17 { color:#ffffff; background-color:#29abe2;}
.color-oral-18 { color:#ffffff; background-color:#b26d86;}
.color-oral-19 { color:#ffffff; background-color:#8cc63f;}
.color-oral-20 { color:#ffffff; background-color:#6b3c6a;}
.color-oral-21 { color:#ffffff; background-color:#444444;}
.color-oral-22 { color:#ffffff; background-color:#0065a5;}  

.color-award { background-color:#662d91; }

.color-key { background-color:#9e005d; }
.color-inter 	{ background-color:#2455a4; }
.color-plan		{ background-color:#2455a4; }
.color-oral 	{ background-color:#2455a4; }
.color-poster 	{ background-color:#7a307a; }


.color-key-bg 	{ background-color:#f2fbe7; }
.color-tutor-bg 	{ background-color:#F5F5F5; }
.color-plan-bg		{ background-color:#e6f3fe; }
.color-oral-bg 	{ background-color:#fff7ef; }
.color-poster-bg 	{ background-color:#f4e8f6; } 
.color-session-bg 	{ background-color:#f5f5f5; } 

/* Program */
.tb-program {
	width:100%;
	line-height:150%;
	table-layout:fixed;
	word-break: break-strict;
	margin:15px 0;
	border-bottom:1px solid #0b63a8;
} 

.tb-program th {
	background-color:#666666;
	border:1px solid #fff;

	text-align:center;
	vertical-align:middle;
	
	font-weight: normal;
	color:#fff;
	line-height:160%;
	padding: 10px 0;
}

.tb-program td {
	text-align:center; 
	/*vertical-align:middle; */
	padding: 8px 4px;
}

.time {
	width:13%;
	border-right:1px solid #0b63a8;
}

.time2 {
	width:8%;
	border-right:1px solid #0b63a8;
	vertical-align: top;
	padding-top: 10px;
}

.td-session {
	vertical-align: top;
	color:#666;
	border-right:1px solid #0b63a8;
	line-height: 140%;
}

.td-session-2 {
	vertical-align: top;
	color:#666;
	line-height: 140%;
}

.p-border-top { border-top:1px solid #0b63a8; }
.p-border-bottom { border-bottom:1px solid #0b63a8; }
.p-border-dot { border-bottom:1px dotted #0b63a8; }
.p-border-dot-t { border-top:1px dotted #0b63a8; }

.border-bottom-999 {border-bottom: 1px solid #999; }
.border-top-999 {border-bottom: 1px solid #999; }

.border-bottom-dot {border-bottom: 1px dotted #333; }

 .session-link {
	 text-align:center;
	 padding:3px;
	 font-family: 'Roboto', sans-serif;
	 color:#666;
	 line-height: 140%;
}

.session-link > p {
	 text-align:center;
	 padding:3px;
	 color:#666;
 }
 
.session-link > a, 
.session-link > p > a{
	color:#333;
	font-weight:bold;
}

.session-link > a:hover,
.session-link > p > a:hover {
	color:#d82628;
	font-weight:bold;
}


/* sponsor */
.color-bg-sponsor { background-color:#f5f5f5; }

.tb-sponsor {
	width:100%;
}

.tb-sponsor tr {
	text-align: center;
	vertical-align: middle;	
	padding: 5px 0;
}

.tb-sponsor td {
	text-align: center;
	vertical-align: middle;	
	padding: 0 0 20px;
}

.sponsor-title a {
	font-style:normal;
	color:#888888;
}

.sponsor-title a:hover {
	font-style:normal;
	color:#0b63a8;
}

.sponsor-title-2 {
	padding-bottom: 0;
}


/*
.tb-sponsor {
	width:100%;
	color:#fff;
	margin:10px 0;
	background:url(../img/bg-sponsor.jpg) no-repeat;
	
}
*/
.tb-sponsor th {
	height:50px;
}

.sponsor-logo {
	width:210px;
	padding:15px 5px;
	text-align:center;
}

/*
.sponsor-ad {
	width:180px;
	padding:20px 5px 5px;;
	text-align:center;
	vertical-align:top;
}
*/
.ad-img img {
	border: 5px solid #fff;
}

.ad-view { margin-top:15px; margin-right: 5px ; font-size:12px; color:#666; }

.ad-view > a { color:#0b63a8; }
.ad-view > a:hover { color: #red; }


.sponsor-web {
	font-weight:normal;
	font-style: normal;
	font-size:14px;
	vertical-align:bottom;
	padding:10px 0 20px 5px;
	border-bottom:1px dotted #224099;
}

.sponsor-web > a { color:#1b75bb; }
.sponsor-web > a:hover { color:red; }


.sponsor-txt {
	vertical-align:top;
}

.sponsor-txt > p {
	padding:10px 5px 0 5px;
	font-size:14px;
	text-align:justify;
}

.sponsor-txt ul {
	margin: 10px 50px 0;
	
}

.sponsor-txt li {
	list-style-type:disc;
}

.modal-dialog {width:80%;}
.thumbnail { height: 200px; margin-bottom:6px;}
.img-ad {width: 100%;}

.tb-poster {
	width:100%;
	font-size:12px;
	line-height:1.4;
} 

.tb-poster td { text-align:left; border:none;}

.icon {text-align: right;}