body {
  background: #DDD;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #FC0;
}

.swiper-container {
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  height: 300px;
  width: 300px;
}